<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>Time tracker</string>
        <key>Program</key>
        <string>/full/path/to/time_tracker_cli</string>
        <key>StandardOutPath</key>
        <string>/tmp/time_tracker_cli.stdout</string>
        <key>StandardErrorPath</key>
        <string>/tmp/time_tracker_cli.stderr</string>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
